{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Engineer in the Making..! A part time Indian Rail Fan.. ❤</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Always be yourself, express yourself, have faith in yourself, do not go out and look for a successful personality and duplicate it. Life is very, very short, and you can choose to live it how you want.</p>

      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>~Raghunandan Gowda</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}